<div class="errors" >
    <% if flash.now[:errors]%>
      <% flash.now[:errors].each do |error| %>
      <%= p error %><br/>
      <% end %>
    <%end%>
<div/>

<br/>
<br/>

<section class="enterform">
  <form class="form" action="<%= url %>" method='POST'>
    <%= auth_token_input %>

    <label>
      Username
      <input type="text" name="user[username]" value="" placeholder="Username:guest">
    </label>

    <br/>
    <label>
      Password
      <input type="password" name="user[password]" value="" placeholder="Guest pass:123456">
    </label>
    <br/>
    <div class="guestandin">
      <input type="submit" value="Sign In">
    </div>
  </form>
</section>
