<div class="errors" >
    <% if flash.now[:errors]%>
      <% flash.now[:errors].each do |error| %>
      <%= p error %><br/>
      <% end %>
    <%end%>
<div/>

<br/>
<br/>

<section class="enterform">
  <form class="form" action="<%= url %>" method='POST'>
    <%= auth_token_input %>

    <label>
      Username
      <input type="text" name="user[username]" value="" placeholder="Username">
    </label>

    <br/>
    <label>
      Password
      <input type="password" name="user[password]" value="" placeholder="Passsword">
    </label>
<!-- TODO make button do something -->
    <br/>
    <div class="guestandin">
      <input type="submit" value="Sign In">
      <%= button_to "Guest" %>
    </div>
  </form>
</section>
