// Place all the styles related to the greetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

body {
  background-color: #BBC3CC;
  height: 100%;
  width: 100%;
}

header {
  background-color: #FF4500;
  position:fixed;
  top: 0px;
  width:100%;
  margin: 0 auto;
  z-index: 50;
}

img{
  display:block;
  width:100%;
  height:100%;
}

.clearfix:after {
  content:"";
  display: block;
  clear:both;
}

//navbar
header ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background-color: #FF4500;
    width:100%;
}

header li{
  float: left;
  border-right:1px solid #bbb;
  padding: 14px 16px;
  text-align: center;
}

header li a{
  color:black;
}

header li:hover{
    background:#FF0000;
}

#logout, #login{
  float:right;
  margin: 0 auto;
  border-left:1px solid #bbb;
}

#searchbar{
  float:none;
  position:relative;
  display: inline-block;
  margin: 0px auto;
}

.search-result{
  display:flex;
  width: 81%;
  cursor: pointer;
}

#search-results {
  overflow: hidden;
  float: none;
  position:absolute;
  padding: 0;
  top: 50px;
  left: 0px;
  background: rgba(255,255,255,1);
  width: 165px;
}


// profile

.profile-container{
  position:relative;
  top:50px;
}

.profile-photo-container{
  height: 300px;
  width: 300px;
  position:absolute;
  top:50px;
  left:50px;
}

.cover-photo-container{
  width:100%;
  height: 400px;
}

.profile-info{
  position: relative;
}

.user-info{
  background-color: yellow;
  width:100%;
}

.username, .song-count, .playlist-count, .like-count{
  position: absolute;
  display: block;
  background-color: white;
  padding: 5px 15px;
  left:400px;
  opacity: .7;
}

.username{
  top:30px;
}

.like-count{
  top:183px;
}

.song-count{
  top:233px;
}

.playlist-count{
  top:283px;
}

.search-result:hover {
    box-shadow: inset 0 0 0 3px black;
}

// songs

.song-thumbnail{
  width:150px;
  height: 150px;
}

.song-container{
  position:relative;
  padding-top: 20px;
}

.single-song-container{
  position:relative;
  top:10px;
  padding-top: 20px;
}

.song-list{
  position:relative;
  top:35px;
}

.audio-actions{
  position:absolute;
  top: 68px;
  left:170px;
}

.single-song-container .audio-actions{
  top: 125px;
}

.song-info{
  position:relative;
  top:25px;
  left: 80px;
}

.song-title{
  position:relative;
  right: 50px;
}

.feed, .song-list, .playlist-list, .collection, .single-playlist, .single-song{
  width:75%;
  padding-top: 20px;
  margin:0 auto;
  background-color: #d3d3d3;
}

.playlist-list{
  margin-top: 30px;
}

.greeting-page{
  padding:0;
}


.greeting-vid{
  position:relative;
  width:100%;
  height: 500px;
  overflow:hidden;
  margin:0;
}

.move-up{
  width:100%;
  height:100%;
  position:absolute;
  bottom: 305px;
}
