// Place all the styles related to the greetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
html, body, div, span, object, iframe,
blockquote, figure, pre {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
}

body {
  background-color: rgba(0,0,0,0.9);
  height: 100%;
  width: 100%;
}

button, .like-button, .button, input, textarea{
  border-radius: 5px;
  background-color: #fdfdfb;
}

button:focus, .like-button:focus, input:focus, textarea{
  outline: none;
}

.song-button {
  display: inline-block;
}

.greeting-text{
  font-family: "Montserrat";
  font-weight: normal;
}

#username, #password{
  padding: 2px;
  display: flex;
  width: 260px;
  margin: 5px 0px;
}


.login-backer {
  background-image: url(https://images.unsplash.com/photo-1444090542259-0af8fa96557e);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.sign-up-header, .sign-in-header{
  position: absolute;
  top: 170px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.value-form{
  position:relative;
}

.enter-form-container{
  text-align: center;
  position: relative;
  top: 300px;
}

.enter-form{
  margin: 0px auto;
  width: 280px;
  height: 180px;
  background-color: rgba(50,41,41,0.8);
  padding: 10px;
  border-radius: 4px;
}

.no-account{
  float:right;
  position: relative;
  bottom: 10px;
  right: 10px;
}

.guestandin{
  float: left;
  position: relative;
  bottom: 10px;
  left: 10px;
}

.error{
  position: absolute;
  color: red;
  // bottom: 230px;
  // margin-left: auto;
  // margin-right: auto;
  // left: 0;
  // right: 0;
  // text-align: center;
}

// .guestandin{
//   display: inline-flex;
// }
//
// .demo-user-form{
//   display: inline-flex;
// }
//
// .no-account{
//   display: inline-flex;
// }


// .enterform{
//   position: relative;;
//   top: 250px;
//   display: block;
//   background-color: blue;
// }
//
// .enterform {
//   background-color: rgba(237, 237, 165, 0.5);
//   border-radius: 25px;
//   display: inline-block;
// }
// label {
//     width:180px;
//     clear:left;
//     text-align:right;
//     padding:10px;
// }
//
// .guestandin, .enterform input{
//   margin-top: 10px;
//   margin-bottom: 10px;
// }
// header {
//   background-color: #FF4500;
//   z-index: 50;
// }

img{
  display:block;
  width:100%;
  height:100%;
}


.clearfix:after {
  content:"";
  display: block;
  clear:both;
}

#logout{
  cursor: pointer;
}


//navbar
// header ul{
//     list-style-type: none;
//     margin: 0 auto;
//     padding: 0;
//     background-color: #FF4500;
//     width:100%;
// }
//
// header li{
//   border-right:1px solid #bbb;
//   padding: 14px 16px;
//   text-align: center;
// }
//
// header li a{
//   color:black;
// }
//
// header li:hover{
//     background:#FF0000;
// }

// #logout, #login{
//   float:right;
//   margin: 0 auto;
//   border-left:1px solid #bbb;
// }
//
// #searchbar{
//   // float:none;
//   // position:relative;
//   // display: inline-block;
//   // margin: 0px auto;
// }
//
// .navbar-brand {
//   line-height: 2em;
// }

.navbar-form{
  margin-top: 10px;
  margin-left: 30px;
}

.search-result{
  display:flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  cursor: pointer;
  text-align: center;
}

#header-search-input{
  width: 250px;
}

#search-results {
  overflow: hidden;
  float: none;
  position:absolute;
  padding: 0;
  background: #fdfdfb;
  width: 250px;
  border-radius: 5px;
  text-align: center;
}


// profile

.profile-container{
  position:relative;
  top:50px;
}

.profile-photo-container{
  height: 300px;
  width: 300px;
  position:absolute;
  top:50px;
  left:50px;
}

.upload-profile{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transition: opacity 500ms ease-out;
       -moz-transition: opacity 500ms ease-out;
            transition: opacity 500ms ease-out;
  opacity: 0;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.4);
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1467243730/camera_bvkvua.png");
  background-size: 70%, 70%;
  background-position: center;
}

.profile-photo-container > img{
  border-radius: 50%;
}
.profile-photo-container:hover .upload-profile{
  opacity: 1;
}

.cover-photo-container{
  width:100%;
  height: 400px;
}

.profile-info{
  position: relative;
}

.user-info{
  background-color: yellow;
  width:100%;
}

.username, .song-count, .playlist-count, .like-count{
  position: absolute;
  display: block;
  background-color: white;
  padding: 5px 15px;
  left:400px;
  opacity: .7;
}

.username{
  top:40px;
  width: 76.2%;
}

.like-count{
  top:173px;
}

.song-count{
  top:223px;
}

.playlist-count{
  top:273px;
}

.search-result:hover {
    box-shadow: inset 0 0 0 3px black;
}

// songs

.song-thumbnail{
  position: relative;
  display:inline-flex;
  width:170px;
  height: 170px;
}

.song-container{
  position:relative;
  height: 246px;
  padding: 20px 0;
  margin: 0, auto;
}

.single-song-container{
  position:relative;
  top:10px;
  padding-top: 20px;
  margin: 0, auto;
}

.song-list{
  position:relative;
  top:35px;
}

.audio-actions{
  position:absolute;;
  left: 180px;
  bottom: 23px;
  display: flex;
}

.play-button, .pause-button{
  background-repeat: no-repeat;
  -webkit-transition: opacity 500ms ease-out;
       -moz-transition: opacity 500ms ease-out;
            transition: opacity 500ms ease-out,
            transform 500ms ease-out;
  opacity: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: scale(1);
}

.play-button{
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1466992136/restart_t7xpbp.png");
  background-size: cover;
}

.pause-button{
  background-color: #E7ECED;
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1467148490/signs-1_tfciaz.png");
  background-size: 60% 45%;
  background-position: center;
  border-width: 3px;
}
.playlist-song-thumbnail .play-button, .playlist-song-thumbnail .pause-button{
  width: 35px;
  height: 35px;
}

.playlist-wave{
  position: relative;
  display: block;
  height: 180px;
}

.playlist-song-audio{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.song-thumbnail:hover .play-button, .song-thumbnail:hover .pause-button,
.playlist-song-thumbnail:hover .play-button, .playlist-song-thumbnail:hover .pause-button{
  transform: scale(1.1);
  opacity: 1;
}

.audio-actions *{
  margin-left: 1%;
  z-index: 12;
}

em{
  font-size: 12px;
}
.uploader{
  margin-top: 10px;
  width: 170px;
  font-size: 14px;
  text-align: center;
  color: white;
}
.uploader em{
    margin-right: 2px;
}

.not-like-button, .like-button {
  height: 30px;
  width: 35px;
}

.not-like-button{
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1466917652/like_kmsd94.png");
  background-size: auto 75%;
  background-repeat: no-repeat;
  background-position: center;
}
.like-button{
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1466917644/like-1_ncqfre.png");
  background-size: auto 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.add-to-new-playlist-button, .add-to-playlist-button{
  padding-left: 30px;
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1466917637/music_mqaqzl.png");
  background-size: auto 75%;
  background-repeat: no-repeat;
  background-position: 7px 3px;

}

.add-to-new-playlist-button{
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1466917637/music_mqaqzl.png");
  width: 180px;
}

.add-to-playlist-button{
  background-image: url("http://res.cloudinary.com/dzmavimlg/image/upload/v1466917631/compact-disc_z1m65r.png");
  width: 145px;
}

.audio-tag{
  z-index: 20;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-song-container .audio-actions{
  top: 125px;
}

.song-info{
  position:relative;
  top:25px;
  left: 80px;
}

.feed-song-info{
  display: inline-block;
  position: absolute;
  background-color: black;
  left: 185px;
  padding: 0 10px;
  border-bottom: 2px solid #AFB8AE;
}

.feed-song-artist{
  padding-left: 5px;
  display: inline;
  color: white;
  left: 170px;
  top:0;
}


.feed-song-title{
  position: relative;
  vertical-align: bottom;
  display: inline;
  font-size: 24px;
  color: white;
  width: 150px;
  text-align: center;
}

.wave-surfer{
  position: absolute;
  width: 600px;
  left: 185px;
  top: 30%;
}

.wave-surfer *{
  max-width: 600px;
}

.inner-artist-text{
  display: inline;
  position: relative;
  bottom: 3px;
}

.inner-artist-text *{
  margin-right: 5px;
}
.playlist-title{
  display: inline-block;
  color: white;
  background-color: black;
  border-bottom: 2px solid #AFB8AE;
  padding: 5px 10px;
  margin-bottom: 0;
}

.playlist-description{
  display: inline-block;
  color: white;
  background-color: black;
  border-bottom: 2px solid #AFB8AE;
  padding: 5px 10px;
  margin-bottom: 0;
}

.playlist-info{
  text-align: left;
}

.song-title{
  position:relative;
  right: 50px;
}

.feed, .song-list, .playlist-list, .collection, .single-playlist, .single-song{
  width:75%;
  padding-top: 20px;
  padding-right: 40px;
  margin:0 auto;
  background-color: rgba(255,255,255,0.1);
}

.single-playlist{
  padding-top: 50px;
  padding-left: 40px;
}

.playlist-list{
  margin-top: 50px;
}

.song-list{
  margin-top: 15px;
}

.greeting-page{
  padding:0;
}

.greeting-text{
  position:absolute;
  width: 100%;
  text-align: center;
  font-size: 70px;
  color: white;
  top: 150px;
  z-index: 1;
}

.greeting-text-under{
  position:absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
  top: 260px;
  z-index: 1;
}
.greeting-vid{
  width:100%;
  height: 400px;
  overflow:hidden;
  margin:0;
}

.collection-container{
  margin-top: 0;
  padding-top: 0;
}
video{
  height: 100%;
}

.move-up{
  width:100%;
  height: 1000px;
  position: relative;
}

.playlist-song{
  position: relative;
  margin-top: 20px;
  left: 20px;
}

.playlist-song:last-child{
  margin-bottom: 20px;
}

.playlsit-song-thumbnail > button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%), translateY(-50%);
}

.playlist-song-info{
  position: absolute;
  color: white;
  left: 90px;
  top: 20px;
}

.playlist-song-genre{
  margin-bottom: 3px;
}

.playlist-song-thumbnail{
  position: relative;
  width: 80px;
  height: 80px;
}

.playlist-index-header, .song-index-header{
  position: relative;
  top: 60px;
  text-align: center;
  color: white;
  background-color: black;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  z-index: 2;
}

.modal-playlist-title{
  margin-bottom: 5px;
  margin-top: 5px;
}

#playlist-form-title, #playlist-form-description{
  display: block;
  margin: 0 auto;
  width: 70%;
}

#playlist-form-description{
  margin-top: 20px;
}

.playlist-form-submit{
  width: 170px;
  margin-top: 20px;
}

.playlistArea{
  text-align: center;
}

.single-song{
  margin-top: 50px;
}
#wavesurfer-test{
  position: absolute;
  top: 200px;
}
.playlist-container, .song-container{
  border-bottom: 2px solid white;
}
.error-modal-button{
  position: relative;
  bottom: 15px;
  left : 88%;
}
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */

    animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/

    animation-duration:3s;
    animation-delay: 1.5s
}
